.form-container{
    background-color: #f1f1f1;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray !important;
}
.form-container .form-control{
    color: gray !important; 
}
.form-container .form-control::placeholder{
    color: gray !important; 
}
.gray-field.form-control:focus{
    color: gray !important;
}
.icon {
    color: white;
    font-size: 64px;
    margin-bottom: 10px;
}

.gray-field {
    margin-bottom: 10px;
    max-width: 100%;
}
.reg-field {
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: 100%;
}

.login-container{
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.register-txt{
    color: gray;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 0px;
    cursor: pointer;
    font-weight: 300;
}
.register-txt:hover{
    color: black !important;
}

.left-section{
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 82px;
    color: black;
    font-weight: 700;
}

.login-btn:hover{
    background-color: #85B592 !important;
}

.logo-subtitle{
    font-weight: 300;
    color: gray;
    font-size: 15px;
    margin-top: -30px;
}

.visible-form{
    opacity:1;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.hidden-form{
    opacity:0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.register-btn:hover{
    background-color: #85B592 !important;
}

@media only screen and (max-width: 780px) {
    .left-section{
        opacity:  0 !important;
        height: 0px !important;
    }
} 