.view-card{
    height: 70vh !important;
}
@media only screen and (max-width: 780px) {
    .view-card{
        height: 50vh !important;
        margin-bottom: 20px !important;
    }
    .card-content-scroll{
        height: 30vh;
    }
}
 @media only screen and (max-width: 1337px) {
    .card-content-scroll{
        height: 45vh;
    }
} 

.task-card{
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f1f1f1 !important;
}

.task-card-title{
    background-color: #C9A2CA !important;
    font-size: calc(28px + (30 - 28) * ((100vw - 300px) / (1600 - 300)));
    color: white;
    font-weight: 500;
    text-align: start !important;
    padding-left: 25px !important;
    display: flex;
    justify-content: start;
    align-items: baseline;
    position: relative;
}

.no-tasks-available{
    font-weight: 300;
    color: gray;
}

.add-button{    
    position: absolute !important;
    top: 16px !important;
    right: 15px !important;
    border-color: #BC97BD !important;
    color: white !important;
}
.add-button:hover{
    background-color: #BC97BD !important;
}

.card-content-scroll{
    height: 60vh;
}

.card-container::-webkit-scrollbar {
    width: 0px !important;
    background: transparent !important; /* make scrollbar transparent */
}