
.view-card{
    height: 100%;
}

.task-card{
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #f1f1f1 !important;
}

.daily-card-title{
    background-color: #95CCA4 !important;
    font-size: calc(28px + (30 - 28) * ((100vw - 300px) / (1600 - 300)));
    color: white;
    font-weight: 500;
    text-align: start !important;
    padding-left: 25px !important;
    display: flex;
    justify-content: start;
    align-items: baseline;
    position: relative;
}